In [ ]:
%pip install psycopg2

In [1]:
import psycopg2
import os

In [4]:
def connect():
    return psycopg2.connect(host=os.getenv("MakeUpHost"),
                            port=int(os.getenv("MakeUpPort")),
                            user=os.getenv("MakeUpUser"),
                            password=os.getenv("MakeUpPW"),
                            dbname=os.getenv("MakeUpDBname"))

In [6]:
with connect() as conn:
    cursor=conn.cursor()
    with open("createColor.sql",encoding="UTF-8") as f:
        cursor.execute(f.read())
    conn.commit()

DuplicateTable: relation "color" already exists

In [7]:
with connect() as conn:
    cursor=conn.cursor()
    with open("createColor.sql") as f:
        cursor.execute(f.read())
    conn.commit()

UnicodeDecodeError: 'cp949' codec can't decode byte 0xed in position 3: illegal multibyte sequence

In [10]:
with connect() as conn:
    cursor=conn.cursor()
    with open("createUser.sql") as f:
        cursor.execute(f.read())

In [11]:
with connect() as conn:
    cursor=conn.cursor()
    with open("createChat.sql") as f:
        cursor.execute(f.read())

In [8]:
import pandas as pd
import sqlite3

In [10]:
with sqlite3.connect("test.db") as c:
    df=pd.read_sql("select * from toon",c)
df

        hex tone
0   #F88379   웜톤
1   #D46A6A   웜톤
2   #F9A88F   웜톤
3   #FBC3A3   웜톤
4   #E2725B   웜톤
5   #D26B5D   웜톤
6   #FF8C69   웜톤
7   #E97451   웜톤
8   #FF6F61   웜톤
9   #FFB07C   웜톤
10  #D2691E   웜톤
11  #C1440E   웜톤
12  #EC8F5E   웜톤
13  #E9967A   웜톤
14  #FFA07A   웜톤
15  #FF7F50   웜톤
16  #E3735E   웜톤
17  #ED7465   웜톤
18  #E55B3C   웜톤
19  #FA8072   웜톤
20  #C08081   쿨톤
21  #DE5D83   쿨톤
22  #DA70D6   쿨톤
23  #C154C1   쿨톤
24  #D891EF   쿨톤
25  #DB7093   쿨톤
26  #E6A9EC   쿨톤
27  #B76E79   쿨톤
28  #C71585   쿨톤
29  #BA55D3   쿨톤
30  #D8B2D1   쿨톤
31  #DC8ADD   쿨톤
32  #C397D8   쿨톤
33  #B48395   쿨톤
34  #D36C9E   쿨톤
35  #B76BA3   쿨톤
36  #E399CD   쿨톤
37  #C17FB2   쿨톤
38  #B4698F   쿨톤

In [13]:
for i in df.values:
    print(i[0])

#F88379
#D46A6A
#F9A88F
#FBC3A3
#E2725B
#D26B5D
#FF8C69
#E97451
#FF6F61
#FFB07C
#D2691E
#C1440E
#EC8F5E
#E9967A
#FFA07A
#FF7F50
#E3735E
#ED7465
#E55B3C
#FA8072
#C08081
#DE5D83
#DA70D6
#C154C1
#D891EF
#DB7093
#E6A9EC
#B76E79
#C71585
#BA55D3
#D8B2D1
#DC8ADD
#C397D8
#B48395
#D36C9E
#B76BA3
#E399CD
#C17FB2
#B4698F

In [15]:
with connect() as conn:
    cursor=conn.cursor()
    cursor.execute('delete from "chat"')
    cursor.execute('delete from "user"')
    cursor.execute('delete from "lipstick"')
    for i in df.values:
        cursor.execute('insert into lipstick values (%s,%s)',vars=i)

    conn.commit()

In [16]:
with connect() as conn:
    df=pd.read_sql("select *from lipstick",conn)
df

C:\Users\anyou\AppData\Local\Temp\ipykernel_4272\2378026325.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql("select *from lipstick",conn)

   hex_code color_id
0   #F88379       웜톤
1   #D46A6A       웜톤
2   #F9A88F       웜톤
3   #FBC3A3       웜톤
4   #E2725B       웜톤
5   #D26B5D       웜톤
6   #FF8C69       웜톤
7   #E97451       웜톤
8   #FF6F61       웜톤
9   #FFB07C       웜톤
10  #D2691E       웜톤
11  #C1440E       웜톤
12  #EC8F5E       웜톤
13  #E9967A       웜톤
14  #FFA07A       웜톤
15  #FF7F50       웜톤
16  #E3735E       웜톤
17  #ED7465       웜톤
18  #E55B3C       웜톤
19  #FA8072       웜톤
20  #C08081       쿨톤
21  #DE5D83       쿨톤
22  #DA70D6       쿨톤
23  #C154C1       쿨톤
24  #D891EF       쿨톤
25  #DB7093       쿨톤
26  #E6A9EC       쿨톤
27  #B76E79       쿨톤
28  #C71585       쿨톤
29  #BA55D3       쿨톤
30  #D8B2D1       쿨톤
31  #DC8ADD       쿨톤
32  #C397D8       쿨톤
33  #B48395       쿨톤
34  #D36C9E       쿨톤
35  #B76BA3       쿨톤
36  #E399CD       쿨톤
37  #C17FB2       쿨톤
38  #B4698F       쿨톤